<html ng-app = 'mySign'>
<head>
<title>Workout Generator</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

<script src="./javascripts/app.js"></script>
</head>
<body>
<h1>Six Week Workout Generator</h1>
<div ng-controller="SubjectDropDownController">
      <div class= "dropdown">
	  Bench:<input type= "number" name= "bench">
	  Squat:<input type= "number" name= "squat">
	  Deadlift:<input type= "number" name= "deadlift">
	  Overhead Press:<input type="number" name="overhead"><br>
            <span> Choose your type of workout:</span><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedItem}}
              <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="a in subjects"><a ng-click="dropboxitemselected(a)">{{a}}</a></li>
            </ul>
        </div>
      </div>
	  
<p id="tiles">Workout</p>
<div id="workoutGenerated"><p id="tiles"></p></div>

</body>
</html>